@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
img {
  object-fit: contain;
  height: auto;
  max-width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  flex: 1;
}

.main-header {
  position: relative;
  min-height: 65px;
  margin: 0 auto;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__toggle {
  display: flex;
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../img/icons/menu.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
.main-header__toggle--closed {
  background-image: url("../img/icons/close.svg");
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .main-header__toggle {
    display: none;
  }
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 280px;
}

.main-header__logo {
  display: flex;
  align-items: center;
  height: 38px;
}
.main-header__logo:hover {
  opacity: 0.8;
}
.main-header__logo:active {
  opacity: 0.6;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
}

.site-list__item {
  padding: 23px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
.site-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.site-list__item--current .site-list__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: 6px;
  background-color: #68b738;
}

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.site-list__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.site-list__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.hero {
  position: relative;
  padding: 27px 0 20px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 302px;
  background-color: #68b738;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/hero-background_mobile.jpg"), linear-gradient(#4c4a4f, #4c4a4f);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__slogan {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */