@use "../mixins/media.scss" as m;
@use "../global/variables.scss" as v;


.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;


  @include m.tablet {
    min-width: 768px;
    padding: 0 30px;
  }

  @include m.desktop {
    min-width: 1440px;
    padding: 0 110px;
  }
}
